<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/?movies);">
  <div class="container">
    <h1>Movie Lists</h1>
    <br>
    <%= link_to "Add new list", new_list_path %>
  </div>
</div>

<ul class='list'>
  <%@lists.each do |list| %>
    <div class="card-product">
      <img src="https://source.unsplash.com/random/?movies" />
      <div class='card-product-infos'>
          <h2><%= list.name %></h2>
          <%= link_to "View list", list_path(list) %>
      </div>
    </div>
  <% end %>
</ul>
