.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

nav{
  position:fixed;
  width: 98%;
  left: 1%;
}
#nav-list {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background: #fff;
  border-radius: 30px;
  margin-top: 10px;

  li {
    list-style-type: none;
    display: inline-block;
  }

  #nav-items{
    margin-right: 10px;
  }

  .button, li:last-child a{
    border-radius: 25px;
    background-color: rgb(17, 0, 255);
    color: #fff;
    padding: 10px 25px;

    &:active{
      color: #fff;
    }
    &:focus{
      color: #fff;
    }
  }
  li:first-child{
    margin-right: 20px;
    color: rgb(17, 0, 255);
  }
}
